    {{> head}}

    
    {{> navbar}} 

    <div class="row">
        <div class="col-8">
            <h1>Goblin slayer</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quos molestiae culpa numquam pariatur! Ratione culpa unde doloremque voluptatum dolorum?
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/slayer.png" alt="img" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}